@media screen and (max-width: 768px) {
    .projects-section{
        width: 100%;

    }
    .info-project {
        width: 100%;
    }
    .button-box a:nth-child(3) {
        display: block;
    }
    .button-box a {
        height: 30px;
        width: 30px;
        padding: 5px;
    }
    .button-box a i:nth-child(2) {
        height: 30px;
        width: 30px;
    }
    .button-box h5,
    .info {
        display: none;
    }
    .button-box {
        gap: 10px;
        width: 100%;
    }
    .project-card {
        height: 150px;
        width: 150px;
        flex-direction: column;
    }
    .tec {
        gap: 5px;
        width: 150px;
        display: none;
    }
    .project-card h3 {
        display: none;
    }
    .img-and-tec img {
        height: 100px;
        width: 150px;
    }
    .time-card {
        height: calc(150px);
        width: calc(150px);
        font-size: 10pt;
    }

    .big-card{
        flex-direction: column;
        width: 250px;
        height: 250px;
        padding: 0px;
        align-items: center;

    }
    .big-card img{
        height: 100%;
        width: 100%;
        /* background-color: red; */
    }
    .big-card h3{

    }
    .info-project{
        height: 20%;
        /* background-color: green; */
        justify-content: center;
    }

    .img-box{
        height: 70%;
        width: 100%;
    }
    .col-cards:nth-child(1){
        display: none;
    }
    .col-cards:nth-child(2){
        width: 50%;
      
        align-items: center;
    }
    .col-cards:nth-child(3){
      
        align-items: center;
        width: 50%;
    }

    .info-button{
        display: block;
    }
    
}
