:root{
    --header-color:#27374D;
    --white-color:#fff;
    --card-color:#526D82;
    --hover-color:#9DB2BF;
    --not-hover:#3b3b3b;
    --cinza-claro:#f3f3f3;
    --cinza-azul-claro:#dce5ee;
    --azul-cinza:#d1e7f5;

    --white1:rgb(240, 240, 240);
    --white2:#fafafa;
    --white3:#ebebeb;;
}


html
{
        
    scroll-behavior:smooth}*{padding:0;margin:0;left:0}body{color:var(--white-color);font-family:Arial,Helvetica,sans-serif}.inicioSection{height:100vh}.header{display:flex;flex-direction:row;align-items:center;background-color:var(--header-color);justify-content:space-between;padding:0 10%;height:3.5em}.navBar a{color:#fff;text-decoration:none;list-style:0;position:relative}.navBar a::after{background-color:#fff;content:" ";bottom:0;width:0;height:2px;position:absolute;left:0;transition:.5s ease-in-out}.navBar a:hover::after{width:100%}.navBar{display:flex;flex-direction:row;gap:3em;list-style:none;align-items:center}.navBar a{color:var(--white-color);text-decoration:none;font-weight:700}.btnIconHeader{background-color:transparent;border:none;color:var(--white-color);cursor:pointer;display:none}.containerInicio{justify-content:center;align-items:center}.inicioSection{background-color:var(--header-color);height:70vh}.rowInicio{display:flex;flex-direction:row;justify-content:space-between;padding:10%;align-items:center}.boxSaud{display:flex;flex-direction:column;gap:1em}.boxSaud a{color:#fff}.boxSocial{display:flex;flex-direction:row;gap:3em;cursor:pointer}.cardSocial{height:4em;width:4em;background-color:var(--card-color);border-radius:10px;padding:.2em}#iconGit,#iconLinkedin,#iconInsta{padding:0 5px;color:#fff}#iconGit:hover{color:#3b3b3b;transition:.5s ease-in-out}#iconGit:not(:hover){color:#fff;transition:.5s ease-in-out}#iconLinkedin:hover{color:#0085cc;transition:.5s ease-in-out}#iconLinkedin:not(:hover){color:#fff;transition:.5s ease-in-out}#iconInsta:hover{color:#E01437;transition:.5s ease-in-out}#iconInsta:not(:hover){color:#fff;transition:.5s ease-in-out}.cardSocial:nth-child(1):hover{transform:translateY(-10px);transition:ease-in-out .2s}.cardSocial:nth-child(1):not(:hover){transform:translateY(0px);transition:ease-in-out .5s}.cardSocial:nth-child(2):hover{transform:translateY(-10px);transition:ease-in-out .2s}.cardSocial:nth-child(2):not(:hover){transform:translateY(0px);transition:ease-in-out .5s}.cardSocial:nth-child(3):hover{transform:translateY(-10px);transition:ease-in-out .2s}.cardSocial:nth-child(3):not(:hover){transform:translateY(0px);transition:ease-in-out .5s}#titleHome{font-size:calc(55px + 0.5vh)}#saudacoes{font-size:18pt}#buttonInicio{width:15em;height:2em;background-color:var(--card-color);border-radius:50px;outline:none;border:0;color:#fff;font-size:15pt;cursor:pointer}#buttonInicio:hover{color:var(--bg-color);background-color:var(--hover-color);transition:ease-in-out .2s;transform:translateY(-5px)}#buttonInicio:not(:hover){color:var(--bg-color);background-color:var(--card-color);transition:ease-in-out .2s;transform:translateY(0px)}.tecnologias{justify-content:space-between}.boxTec{align-items:center;display:flex;flex-direction:row;padding:5% 10%;gap:0}#iconTechReact,#iconTechHtml,#iconTechCss,#iconTechJs,#iconTechPhp,#iconTechJava{color:#3b3b3b;margin:auto}#iconTechReact:hover{color:#0085cc;transition:.3s ease-in-out;transform:translateY(-10px)}#iconTechReact:not(:hover){color:var(--not-hover);transition:.5s ease-in-out}#iconTechHtml:hover{color:#EF6526;transition:.3s ease-in-out;transform:translateY(-10px)}#iconTechHtml:not(:hover){color:var(--not-hover);transition:.5s ease-in-out}#iconTechCss:hover{color:#2BA8D6;transition:.3s ease-in-out;transform:translateY(-10px)}#iconTechCss:not(:hover){color:var(--not-hover);transition:.5s ease-in-out}#iconTechJs:hover{color:#EDC12A;transition:.3s ease-in-out;transform:translateY(-10px)}#iconTechJs:not(:hover){color:var(--not-hover);transition:.5s ease-in-out}#iconTechPhp:hover{color:#6473AE;transition:.3s ease-in-out;transform:translateY(-10px)}#iconTechPhp:not(:hover){color:var(--not-hover);transition:.5s ease-in-out}#iconTechJava:hover{color:#FB8C06;transition:.3s ease-in-out;transform:translateY(-10px)}#iconTechJava:not(:hover){color:var(--not-hover);transition:.5s ease-in-out}.projects{padding:100px}
::-webkit-scrollbar{width:15px}::-webkit-scrollbar-thumb{background-color:var(--card-color)}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes growing-line {
    
}
.inicioSection{
    
}
.titles{
    width: 100%;
    height: 100px;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.tecnologias{
    background-color: var(--white1);
}

.skills{
    background-color:  var(--white2);
}
.projects-section{
    background-color: white;
}

.about{
    background-color: var(--white2);
    color: black;
}

.logoHeader img{
    height: 70px;
    width: 110px;
}
